body {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	overflow: hidden;
	background-image: url(../images/main.gif);
}

#container {
	margin: 0px;
	overflow: hidden;
}

#table {
	margin-top: 44px;
	margin-left: 40px;
}

#add {
	text-align: center;
	font-size: 13px;
	text-decoration: underline;
	font-weight: bold;
}

#add a {
	cursor: hand;
}

#alert {
	margin-top: 5px;
}

#alert span {
	text-align: center;
	font-size: 15px;
	color: #FFF;
	font-weight: bold;
}

#add a:VISITED {
	color: #0066CC;
}

a:VISITED {
	color: #0066CC;
}

table.altrowstable {
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	color: #333333;
	border-width: 1px;
	border-color: #a9c6c9;
	border-collapse: collapse;
}

table.altrowstable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}

table.altrowstable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}

.oddrowcolor {
	background-color: #d4e3e5;
}

.evenrowcolor {
	background-color: #c3dde0;
}