<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <servlet>
    <servlet-name>RegisterUIServlet</servlet-name>
    <servlet-class>cn.classroom.web.UI.RegisterUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>cn.classroom.web.controller.ImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>cn.classroom.web.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.classroom.web.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminLeftUIServlet</servlet-name>
    <servlet-class>cn.classroom.web.UI.AdminLeftUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherLeftUIServlet</servlet-name>
    <servlet-class>cn.classroom.web.UI.TeacherLeftUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentLeftUIServlet</servlet-name>
    <servlet-class>cn.classroom.web.UI.StudentLeftUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserManaServlet</servlet-name>
    <servlet-class>cn.classroom.web.controller.UserManaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClassroomManaServlet</servlet-name>
    <servlet-class>cn.classroom.web.controller.ClassroomManaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CourseManaServlet</servlet-name>
    <servlet-class>cn.classroom.web.controller.CourseManaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActivityManaServlet</servlet-name>
    <servlet-class>cn.classroom.web.controller.ActivityManaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddUserUIServlet</servlet-name>
    <servlet-class>cn.classroom.web.UI.AddUserUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MainUIServlet</servlet-name>
    <servlet-class>cn.classroom.web.UI.MainUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>cn.classroom.web.controller.AddUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelUserServlet</servlet-name>
    <servlet-class>cn.classroom.web.controller.DelUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddClassroomUIServlet</servlet-name>
    <servlet-class>cn.classroom.web.UI.AddClassroomUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddClassroomServlet</servlet-name>
    <servlet-class>cn.classroom.web.controller.AddClassroomServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddCourseUIServlet</servlet-name>
    <servlet-class>cn.classroom.web.UI.AddCourseUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddCourseServlet</servlet-name>
    <servlet-class>cn.classroom.web.controller.AddCourseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectClassroomServlet</servlet-name>
    <servlet-class>cn.classroom.web.controller.SelectClassroomServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateClassroomServlet</servlet-name>
    <servlet-class>cn.classroom.web.controller.UpdateClassroomServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelClassroomServlet</servlet-name>
    <servlet-class>cn.classroom.web.controller.DelClassroomServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddArrangeUIServlet</servlet-name>
    <servlet-class>cn.classroom.web.UI.AddArrangeUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddArrangeServlet</servlet-name>
    <servlet-class>cn.classroom.web.controller.AddArrangeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelArrangeServlet</servlet-name>
    <servlet-class>cn.classroom.web.controller.DelArrangeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelActivityServlet</servlet-name>
    <servlet-class>cn.classroom.web.controller.DelActivityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectCourseServlet</servlet-name>
    <servlet-class>cn.classroom.web.controller.SelectCourseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateCourseServlet</servlet-name>
    <servlet-class>cn.classroom.web.controller.UpdateCourseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelCourseServlet</servlet-name>
    <servlet-class>cn.classroom.web.controller.DelCourseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeStatusServlet</servlet-name>
    <servlet-class>cn.classroom.web.controller.ChangeStatusServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MyInfoUIServlet</servlet-name>
    <servlet-class>cn.classroom.web.UI.MyInfoUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateUserUIServlet</servlet-name>
    <servlet-class>cn.classroom.web.UI.UpdateUserUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>cn.classroom.web.controller.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MyCourseServlet</servlet-name>
    <servlet-class>cn.classroom.web.controller.MyCourseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MyActivityServlet</servlet-name>
    <servlet-class>cn.classroom.web.controller.MyActivityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddActivityUIServlet</servlet-name>
    <servlet-class>cn.classroom.web.UI.AddActivityUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddActivityServlet</servlet-name>
    <servlet-class>cn.classroom.web.controller.AddActivityServlet</servlet-class>
  </servlet>

























  <servlet-mapping>
    <servlet-name>RegisterUIServlet</servlet-name>
    <url-pattern>/servlet/RegisterUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/servlet/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/servlet/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLeftUIServlet</servlet-name>
    <url-pattern>/servlet/AdminLeftUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherLeftUIServlet</servlet-name>
    <url-pattern>/servlet/TeacherLeftUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentLeftUIServlet</servlet-name>
    <url-pattern>/servlet/StudentLeftUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserManaServlet</servlet-name>
    <url-pattern>/servlet/UserManaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClassroomManaServlet</servlet-name>
    <url-pattern>/servlet/ClassroomManaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CourseManaServlet</servlet-name>
    <url-pattern>/servlet/CourseManaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActivityManaServlet</servlet-name>
    <url-pattern>/servlet/ActivityManaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddUserUIServlet</servlet-name>
    <url-pattern>/servlet/AddUserUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MainUIServlet</servlet-name>
    <url-pattern>/servlet/MainUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/servlet/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelUserServlet</servlet-name>
    <url-pattern>/servlet/DelUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddClassroomUIServlet</servlet-name>
    <url-pattern>/servlet/AddClassroomUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddClassroomServlet</servlet-name>
    <url-pattern>/servlet/AddClassroomServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCourseUIServlet</servlet-name>
    <url-pattern>/servlet/AddCourseUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCourseServlet</servlet-name>
    <url-pattern>/servlet/AddCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectClassroomServlet</servlet-name>
    <url-pattern>/servlet/SelectClassroomServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateClassroomServlet</servlet-name>
    <url-pattern>/servlet/UpdateClassroomServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelClassroomServlet</servlet-name>
    <url-pattern>/servlet/DelClassroomServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddArrangeUIServlet</servlet-name>
    <url-pattern>/servlet/AddArrangeUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddArrangeServlet</servlet-name>
    <url-pattern>/servlet/AddArrangeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelArrangeServlet</servlet-name>
    <url-pattern>/servlet/DelArrangeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelActivityServlet</servlet-name>
    <url-pattern>/servlet/DelActivityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectCourseServlet</servlet-name>
    <url-pattern>/servlet/SelectCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCourseServlet</servlet-name>
    <url-pattern>/servlet/UpdateCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelCourseServlet</servlet-name>
    <url-pattern>/servlet/DelCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeStatusServlet</servlet-name>
    <url-pattern>/servlet/ChangeStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyInfoUIServlet</servlet-name>
    <url-pattern>/servlet/MyInfoUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserUIServlet</servlet-name>
    <url-pattern>/servlet/UpdateUserUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/servlet/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyCourseServlet</servlet-name>
    <url-pattern>/servlet/MyCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyActivityServlet</servlet-name>
    <url-pattern>/servlet/MyActivityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddActivityUIServlet</servlet-name>
    <url-pattern>/servlet/AddActivityUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddActivityServlet</servlet-name>
    <url-pattern>/servlet/AddActivityServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
